.slider{
    height: 500px;
    display: flex;
    justify-content: center;
    &__wrapper{
        width: 800px;
        position: relative;
        overflow: hidden;
    }

    &__lenta{
        width: 4800px;
        height: 100%;
        position: absolute;
        left: 0;
        transition: .6s;
    }

    &__image{
        width: 800px;
        height: 100%;
    }

    &__arrors{
        border-radius: 50%;
        border: 2px solid #000000;
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 25px);
        background-color: #000;
        opacity: 0.5;
        cursor: pointer;
    }

    &__arrowRight{
        right: 50px;
    }

    &__arrowLeft{
        left: 50px;
    }

    &__buttons{
        position: absolute;
        bottom: 20px;
        left: calc(50% - 30px);
        width: 100px;
        height: 9px;
        display: flex;
        justify-content: center;
    }

    &__button{
        width: 5px;
        height: 5px;
        margin: 0 3px;
        border-radius: 50%;
        border: 2px solid #000000;
    }
}

