.app-wrapper {
  width: 1120px;
  margin: 0 auto;
}

.book {
  &-header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    &__logo{
      width: 10px;
    }
  }
}